#test-font-header {
    font-family: 'Merriweather', serif;
    font-size: 4.5em;
    /*color: #000;*/
}

#test-font-footer {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    /*color: #000;*/
}